{% load static %}
<!doctype html>
<html lang="en" class="h-100">
{% include 'mobile/head.html' %}

<body class="body-scroll d-flex flex-column h-100 menu-overlay" data-page="landing">
    <!-- screen loader -->
    <div class="container-fluid h-100 loader-display">
        <div class="row h-100">
            <div class="align-self-center col">
                <div class="logo-loading">
                    <div class="icon icon-100 mb-4 rounded-circle">
                        <img src="{% static 'mobile/img/favicon144.png'%}" alt="" class="w-100">
                    </div>
                    <h4 class="text-default">Finwallapp</h4>
                    <p class="text-secondary">Mobile HTML template</p>
                    <div class="loader-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- Begin page content -->
    <main class="flex-shrink-0 main has-footer pt-2">

        <div class="container h-100">
            <!-- Swiper intro -->
            <div class="swiper-container introduction text-white">
                <div class="swiper-wrapper">
                    <div class="swiper-slide overflow-hidden text-center">
                        <div class="row no-gutters h-100">
                            <div class="col align-self-center px-3">
                                <img src="{% static 'mobile/img/install-app.png'%}" alt="" class="mw-100 my-5">
                                <div class="row">
                                    <div class="container mb-5">
                                        <h4>Amazing Finance template</h4>
                                        <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit. Sndisse conv allis.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide overflow-hidden text-center">
                        <div class="row no-gutters h-100">
                            <div class="col align-self-center px-3">
                                <img src="{% static 'mobile/img/about.png'%}" alt="" class="mw-100 my-5">
                                <div class="row">
                                    <div class="container mb-5">
                                        <h4>Best Wallet app</h4>
                                        <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit. Sndisse conv allis.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide overflow-hidden text-center">
                        <div class="row no-gutters h-100">
                            <div class="col align-self-center px-3">
                                <img src="{% static 'mobile/img/install-app.png'%}" alt="" class="mw-100 my-5">
                                <div class="row">
                                    <div class="container mb-5">
                                        <h4>World Class Design</h4>
                                        <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit. Sndisse conv allis.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
            <!-- Swiper intro ends -->
        </div>
    </main>

    <!-- footer-->
    <div class="footer no-bg-shadow py-3">
        <div class="row justify-content-center">
            <div class="col">
                <a href="/login" class="btn btn-default rounded btn-block">Login</a>
            </div>
            <div class="col">
                <a href="/signup" class="btn btn-outline-default rounded btn-block">Register</a>
            </div>
        </div>
    </div>
 {% include 'mobile/foot.html' %}
</body>
</html>
