<nav class="navbar navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-left">
					<div class="navbar-brand">
						<a class="small_menu_btn" href="javascript:void(0);"></a>
						<a href="index.html"><span>JUST USSD</span></a>
					</div>
				</div>
				<div class="navbar-right">
					<div id="navbar-menu">
						<ul class="nav navbar-nav">
							<li><a href="#" class="icon-menu reports">Reports</a></li>
							<li><a href="#" class="icon-menu project">Project</a></li>
							<li><a href="#" class="icon-menu settings">Settings</a></li>
							<li><a href="/web/logout" class="icon-menu"><i class="icon-logout"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>