{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Payment Checkout Form</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">
	<link rel="stylesheet" href="{% static 'pay/styles.css'%}">

</head>
<body>
  <div class="wrapper">
    <div class="payment">
      <div class="payment-logo">
        <p>p</p>
      </div>
      <h3>Status</h3>
      <form>
        <div class="form">
          <div class="card space icon-relative">
            {% comment %} <label class="label">Enter Payment Code:</label><br> {% endcomment %}
            <h2>{{msg}}</h2>
            {% comment %} <input type="text" class="input" placeholder="Payment Code" maxlength="6">
            <i class="fas fa-user-secret"></i> {% endcomment %}
          </div>
          {% comment %} <button class="btn" type="submit">Confirm</button> {% endcomment %}
        </div>
      </form>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
</body>
</html>