<!DOCTYPE html>
<html lang="en">
{% include 'merchant/head.html' %}

<body class="fix-header card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {% include 'merchant/header.html' %}
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success'%}
                        <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
                    {% elif message.tags == 'info' %}
                        <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
                    {% elif message.tags == 'warning' %}
                        <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
                    {% elif message.tags == 'error' %}
                        <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
                    {% endif %}
                {% endfor %}
            {% endif %}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {% include 'merchant/sidebar.html' %}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">API Settings</h3>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                
                <!-- .row -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <form class="form" method="POST" action="/merchant/api_settings">
                                    {% csrf_token %}
                                    <div class="form-group m-t-40 row">
                                        <label for="example-text-input" class="col-2 col-form-label">Live API Key</label>
                                        <div class="col-10">
                                            <input class="form-control" type="text" value="{{api.live_key}}" id="example-text-input" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group m-t-40 row">
                                        <label for="example-text-input" class="col-2 col-form-label">Test API Key</label>
                                        <div class="col-10">
                                            <input class="form-control" type="text" value="{{api.test_key}}" id="example-text-input" readonly>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="col-lg-2 col-md-4">
                                        <button type="submit" class="btn btn-rounded btn-block btn-info">Get New API Key</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {% include 'merchant/footer.html' %}
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    {% include 'merchant/foot.html' %}
</body>
</html>