{% load static %}
<script src="{% static 'home/vendor/jquery/jquery.min.js'%}"></script>
<script src="{% static 'home/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'home/vendor/waves/waves.min.js'%}"></script>

{% comment %} <script src="{% static 'home/vendor/toastr/toastr.min.js'%}"></script> {% endcomment %}
<script src="{% static 'home/vendor/toastr/toastr-init.js'%}"></script>

<script src="{% static 'home/vendor/circle-progress/circle-progress.min.js'%}"></script>
<script src="{% static 'home/vendor/circle-progress/circle-progress-init.js'%}"></script>


<!--  flot-chart js -->
<script src="{% static 'home/vendor/apexchart/apexcharts.min.js'%}"></script>
<script src="{% static 'home/vendor/apexchart/apexchart-init.js'%}"></script>


<!-- <script src="./js/dashboard.js"></script> -->
<script src="{% static 'home/js/scripts.js'%}"></script>