{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Payflat </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'home/images/favicon.png'%}">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{% static 'home/vendor/waves/waves.min.css'%}">
    <link rel="stylesheet" href="{% static 'home/vendor/toastr/toastr.min.css'%}">
    <link rel="stylesheet" href="{% static 'home/vendor/owlcarousel/css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/style.css'%}">
</head>