{% load static %}
<div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-6">
                        <div class="footer-link text-left">
                            <a href="#" class="m_logo"><img src="{% static 'home/images/w_logo.png'%}" alt=""></a>
                            <a href="/aboutus">About</a>
                            <a href="/privacy-policy">Privacy Policy</a>
                            <a href="/terms-and-condition">Term & Service</a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 text-lg-right text-center">
                        <div class="social">
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-xl-12 text-center text-lg-right">
                        <div class="copy_right text-center text-lg-center">
                            Copyright &copy; {% now "Y" %} Payflat. All Rights Reserved.
                        </div>
                    </div>
                </div>
            </div>
        </div>